################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RobotaNearMe/FileContentIndex/3f79649c-77e8-4de1-92bc-5f69e46558f4.vsidx
/.vs/RobotaNearMe/FileContentIndex/5cbc52ba-1c49-4a1e-ad98-3b40406ec189.vsidx
/.vs/RobotaNearMe/FileContentIndex/8fa31a71-8473-4ed5-9bb4-75d052ab6196.vsidx
/.vs/RobotaNearMe/FileContentIndex/861f29a7-c9e8-4a10-b39a-b02a4d06aab6.vsidx
/.vs/RobotaNearMe/FileContentIndex/240a81d8-3247-49e0-88de-b77d6ac4f450.vsidx
/.vs/RobotaNearMe/FileContentIndex/3ae6ea52-6ba2-42ec-a67b-a729c90758e4.vsidx
