################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RobotaNearMe/FileContentIndex/3f79649c-77e8-4de1-92bc-5f69e46558f4.vsidx
/.vs/RobotaNearMe/FileContentIndex/5cbc52ba-1c49-4a1e-ad98-3b40406ec189.vsidx
