################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RobotaNearMe/FileContentIndex/3f79649c-77e8-4de1-92bc-5f69e46558f4.vsidx
/.vs/RobotaNearMe/FileContentIndex/5cbc52ba-1c49-4a1e-ad98-3b40406ec189.vsidx
/.vs/RobotaNearMe/FileContentIndex/8fa31a71-8473-4ed5-9bb4-75d052ab6196.vsidx
/.vs/RobotaNearMe/FileContentIndex/861f29a7-c9e8-4a10-b39a-b02a4d06aab6.vsidx
/.vs/RobotaNearMe/FileContentIndex/240a81d8-3247-49e0-88de-b77d6ac4f450.vsidx
/.vs/RobotaNearMe/FileContentIndex/3ae6ea52-6ba2-42ec-a67b-a729c90758e4.vsidx
/.vs/RobotaNearMe/FileContentIndex/6c64cf6a-4981-4b35-ba5c-7bbfeacf2fa6.vsidx
/.vs/RobotaNearMe/FileContentIndex/eeaa25b0-fce1-4259-a49e-8eb9db0c5bb4.vsidx
/.vs/RobotaNearMe/FileContentIndex/97d53514-b90b-4b19-ad8e-aa8ac36d776f.vsidx
/.vs/RobotaNearMe/FileContentIndex/1f8466ea-7f4c-427a-886a-9cb4c54500d6.vsidx
/.vs/RobotaNearMe/FileContentIndex/18382c66-6a48-449e-9ae7-6445a8be80e9.vsidx
/.vs/RobotaNearMe/FileContentIndex/9b4ceb83-14ff-4df4-92d3-b6bdca382f0b.vsidx
/.vs/RobotaNearMe/FileContentIndex/254f9fcf-1213-4d14-b593-6206690d3d2b.vsidx
/.vs/RobotaNearMe/FileContentIndex/d2c11053-2d14-4a4d-9e70-42d0567adcea.vsidx
