@model RobotaNearMe.Lib.AdminModels.NewsletterModel

<h1>Inform everyone</h1>
<form asp-action="SendNewsletter" asp-controller="Admin">
    <div class="card" style="color:black">
        <div class="card-header">
            <label>Send newsletter to everyone</label>
        </div>
        <div class="card-body">
            <div>Subject :</div>
            <input type="text" asp-for="@Model.Subject" name="Subject" />
            <div>Message :</div>
            <textarea style="width: 600px; height: 300px" type="text" asp-for="@Model.Message" name="Message" > </textarea> 
        </div>
        <div class="card-footer">
            <button class="btn-success" type="submit">Inform everyone</button>
        </div>
    </div>
</form>
