@page "/profile"
@using RobotaNearMe.Lib.Modelos
@using RobotaNearMe.Client.Services
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Profile</PageTitle>

<h1>Welcome @_client.Name @_client.Surname</h1>
<RobotaNearMe.Client.Components.ProfileComponent User="_client" ></RobotaNearMe.Client.Components.ProfileComponent>

@inject ApiService _service
@code {
    private string userName;
    private float ballanceMoney;
    private string firstname;
    private string Lastname;
    private User _client;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            userName = user.Identity.Name;

            _client = _service.GetUserByName(userName);
        }
        else
        {

        }
    }
}
