<h3>Profile</h3>
<label>Jmeno</label>
<input type="text"/>

<label>Prijmeni</label>
<input type="text" />

<label>Kontakt</label>
<input type="text" />

<label> Maximalni dosazene vzdelani </label>

<label> Predchozi pracovni zkusenosti </label>

<label> Interests</label>

<label> Select if you are looking for a job or if oyu are an admin for company </label>


@code {

}
