@page "/verifyEmailAddress/{emailAddress}"

<h3>VerifyEmail</h3>
<p> Please verify your email on the link sent to your mail address. </p>

@code {
    [Parameter] public string emailAddress { get; set; }

}
