@{
    ViewData["Title"] = "Home Page";
}

<div style="display:block;" class="text-center">
    <button style="margin-right:20px" class="btn-light rounded-pill mt-3" onclick="window.location='/admin/AddJobField'">Add job field</button>
    <button style="margin-right:20px" class="btn-light rounded-pill mt-3" onclick="window.location='/admin/SendNewsletter'">Send newsletter</button>
</div>